In [1]:
# Styling notebook
from IPython.core.display import HTML
def css_styling():
    styles = open("rise.css", "r").read()
    return HTML(styles)
css_styling()

<div style="font-size:2em; text-align:center; margin-top:30px; margin-bottom:20px">Data Science Academy 7</div>
<hr>
<br>

<div style="font-size:4em; text-align:center; margin-bottom:30px; color:#00746E"><b>Time Series Data</b></div>

Various libraries are available in Python to convert datatypes. The example shown below will be using pandas to <b>convert the datatypes to datetime format</b>. Firstly, import the data from csv file and check the datatype.

In [2]:
import pandas as pd

In [4]:
csv_input = pd.read_csv("../input/sample_data.csv")
csv_input

          time  variable  duration
0    1/20/2021      1.11        10
1    2/20/2021      2.22        20
2    3/20/2021      3.33        30
3    4/20/2021      4.44        40
4    5/20/2021      5.55        50
5    6/20/2021      6.66        60
6    7/20/2021      7.77        70
7    8/20/2021      8.88        80
8    9/20/2021      9.99        90
9   10/20/2021     10.10       100
10  11/20/2021     11.11       110
11  12/20/2021     12.12       120

In [5]:
csv_input.dtypes

time         object
variable    float64
duration      int64
dtype: object

As shown above, column 'time' is not recognized as datetime but as object(string/character). Function pd.to_datetime can be used to convert it to datetime format as shown below. Check again the datatype after conversion.

In [6]:
csv_input['time'] = pd.to_datetime(csv_input['time'], format = "%m/%d/%Y")
csv_input

         time  variable  duration
0  2021-01-20      1.11        10
1  2021-02-20      2.22        20
2  2021-03-20      3.33        30
3  2021-04-20      4.44        40
4  2021-05-20      5.55        50
5  2021-06-20      6.66        60
6  2021-07-20      7.77        70
7  2021-08-20      8.88        80
8  2021-09-20      9.99        90
9  2021-10-20     10.10       100
10 2021-11-20     11.11       110
11 2021-12-20     12.12       120

In [7]:
csv_input.dtypes

time        datetime64[ns]
variable           float64
duration             int64
dtype: object

Pandas also provide function to convert <b>datatype to duration</b>, using `pd.to_timedelta` and specifying the unit of time to convert. Try it out on column 'duration' and check again the datatype.
More info: type `help(pd.to_datetime`)

In [9]:
# Example
help(pd.to_datetime)

Help on function to_datetime in module pandas.core.tools.datetimes:

to_datetime(arg: Union[~DatetimeScalar, List, Tuple, ~ArrayLike, ForwardRef('Series')], errors: str = 'raise', dayfirst: bool = False, yearfirst: bool = False, utc: Union[bool, NoneType] = None, format: Union[str, NoneType] = None, exact: bool = True, unit: Union[str, NoneType] = None, infer_datetime_format: bool = False, origin='unix', cache: bool = True) -> Union[pandas.core.indexes.datetimes.DatetimeIndex, ForwardRef('Series'), ~DatetimeScalar, ForwardRef('NaTType')]
    Convert argument to datetime.

    Parameters
    ----------
    arg : int, float, str, datetime, list, tuple, 1-d array, Series, DataFrame/dict-like
        The object to convert to a datetime.
    errors : {'ignore', 'raise', 'coerce'}, default 'raise'
        - If 'raise', then invalid parsing will raise an exception.
        - If 'coerce', then invalid parsing will be set as NaT.
        - If 'ignore', then invalid parsing will return the input.
    dayfirst : bool, default False
        Specify a date parse order if `arg` is str or its list-likes.
        If True, parses dates with the day first, eg 10/11/12 is parsed as
        2012-11-10.
        Warning: dayfirst=True is not strict, but will prefer to parse
        with day first (this is a known bug, based on dateutil behavior).
    yearfirst : bool, default False
        Specify a date parse order if `arg` is str or its list-likes.

        - If True parses dates with the year first, eg 10/11/12 is parsed as
          2010-11-12.
        - If both dayfirst and yearfirst are True, yearfirst is preceded (same
          as dateutil).

        Warning: yearfirst=True is not strict, but will prefer to parse
        with year first (this is a known bug, based on dateutil behavior).
    utc : bool, default None
        Return UTC DatetimeIndex if True (converting any tz-aware
        datetime.datetime objects as well).
    format : str, default None
        The strftime to parse time, eg "%d/%m/%Y", note that "%f" will parse
        all the way up to nanoseconds.
        See strftime documentation for more information on choices:
        https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior.
    exact : bool, True by default
        Behaves as:
        - If True, require an exact format match.
        - If False, allow the format to match anywhere in the target string.

    unit : str, default 'ns'
        The unit of the arg (D,s,ms,us,ns) denote the unit, which is an
        integer or float number. This will be based off the origin.
        Example, with unit='ms' and origin='unix' (the default), this
        would calculate the number of milliseconds to the unix epoch start.
    infer_datetime_format : bool, default False
        If True and no `format` is given, attempt to infer the format of the
        datetime strings based on the first non-NaN element,
        and if it can be inferred, switch to a faster method of parsing them.
        In some cases this can increase the parsing speed by ~5-10x.
    origin : scalar, default 'unix'
        Define the reference date. The numeric values would be parsed as number
        of units (defined by `unit`) since this reference date.

        - If 'unix' (or POSIX) time; origin is set to 1970-01-01.
        - If 'julian', unit must be 'D', and origin is set to beginning of
          Julian Calendar. Julian day number 0 is assigned to the day starting
          at noon on January 1, 4713 BC.
        - If Timestamp convertible, origin is set to Timestamp identified by
          origin.
    cache : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets. The cache is only
        used when there are at least 50 values. The presence of out-of-bounds
        values will render the cache unusable and may slow down parsing.

        .. versionchanged:: 0.25.0
            - changed default value from False to True.

    Returns
    -------
    datetime
        If parsing succeeded.
        Return type depends on input:

        - list-like: DatetimeIndex
        - Series: Series of datetime64 dtype
        - scalar: Timestamp

        In case when it is not possible to return designated types (e.g. when
        any element of input is before Timestamp.min or after Timestamp.max)
        return will have datetime.datetime type (or corresponding
        array/Series).

    See Also
    --------
    DataFrame.astype : Cast argument to a specified dtype.
    to_timedelta : Convert argument to timedelta.
    convert_dtypes : Convert dtypes.

    Examples
    --------
    Assembling a datetime from multiple columns of a DataFrame. The keys can be
    common abbreviations like ['year', 'month', 'day', 'minute', 'second',
    'ms', 'us', 'ns']) or plurals of the same

    >>> df = pd.DataFrame({'year': [2015, 2016],
    ...                    'month': [2, 3],
    ...                    'day': [4, 5]})
    >>> pd.to_datetime(df)
    0   2015-02-04
    1   2016-03-05
    dtype: datetime64[ns]

    If a date does not meet the `timestamp limitations
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
    #timeseries-timestamp-limits>`_, passing errors='ignore'
    will return the original input instead of raising any exception.

    Passing errors='coerce' will force an out-of-bounds date to NaT,
    in addition to forcing non-dates (or non-parseable dates) to NaT.

    >>> pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')
    datetime.datetime(1300, 1, 1, 0, 0)
    >>> pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')
    NaT

    Passing infer_datetime_format=True can often-times speedup a parsing
    if its not an ISO8601 format exactly, but in a regular format.

    >>> s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000'] * 1000)
    >>> s.head()
    0    3/11/2000
    1    3/12/2000
    2    3/13/2000
    3    3/11/2000
    4    3/12/2000
    dtype: object

    >>> %timeit pd.to_datetime(s, infer_datetime_format=True)  # doctest: +SKIP
    100 loops, best of 3: 10.4 ms per loop

    >>> %timeit pd.to_datetime(s, infer_datetime_format=False)  # doctest: +SKIP
    1 loop, best of 3: 471 ms per loop

    Using a unix epoch time

    >>> pd.to_datetime(1490195805, unit='s')
    Timestamp('2017-03-22 15:16:45')
    >>> pd.to_datetime(1490195805433502912, unit='ns')
    Timestamp('2017-03-22 15:16:45.433502912')

    .. warning:: For float arg, precision rounding might happen. To prevent
        unexpected behavior use a fixed-width exact type.

    Using a non-unix epoch origin

    >>> pd.to_datetime([1, 2, 3], unit='D',
    ...                origin=pd.Timestamp('1960-01-01'))
    DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'], dtype='datetime64[ns]', freq=None)

In [6]:
csv_input['duration'] = pd.to_timedelta(csv_input['duration'], unit="m") # unit 'm' stands for minutes. 
csv_input

         time  variable duration
0  2021-01-20      1.11 00:10:00
1  2021-02-20      2.22 00:20:00
2  2021-03-20      3.33 00:30:00
3  2021-04-20      4.44 00:40:00
4  2021-05-20      5.55 00:50:00
5  2021-06-20      6.66 01:00:00
6  2021-07-20      7.77 01:10:00
7  2021-08-20      8.88 01:20:00
8  2021-09-20      9.99 01:30:00
9  2021-10-20     10.10 01:40:00
10 2021-11-20     11.11 01:50:00
11 2021-12-20     12.12 02:00:00

In [7]:
csv_input.dtypes

time         datetime64[ns]
variable            float64
duration    timedelta64[ns]
dtype: object

Using the correct datatype helps in managing the data, such as sorting and filtering.

In [8]:
csv_input[(csv_input['time'] > '2021-03-01') & (csv_input['time'] < '2021-10-01')]

        time  variable duration
2 2021-03-20      3.33 00:30:00
3 2021-04-20      4.44 00:40:00
4 2021-05-20      5.55 00:50:00
5 2021-06-20      6.66 01:00:00
6 2021-07-20      7.77 01:10:00
7 2021-08-20      8.88 01:20:00
8 2021-09-20      9.99 01:30:00

Below shows an example of extracting the information from datetime data. Converting to <b>datetime datatype </b> allows the user to extract and use all the components in the data. 

<font color='#00a19d'> !! Do take note that Python are very sensitive to the datatypes, each datatypes has their own <i>functions and characteristics</i></font>.

In [9]:
user_date = "11 Mar, 2021"
type(user_date)

str

In [10]:
user_date = pd.to_datetime(user_date)
user_date

Timestamp('2021-03-11 00:00:00')

In [11]:
user_date2 = pd.to_datetime("2021-03-09 15:30:20")
duration = user_date - user_date2
duration

Timedelta('1 days 08:29:40')

In [12]:
duration.components.hours

8

In [13]:
print("Duration = " + str(duration.components.days) + " day(s) " + str(duration.components.hours) + " hour(s) " + str(duration.components.minutes) + " minute(s) " + str(duration.components.seconds) + " second(s)")

Duration = 1 day(s) 8 hour(s) 29 minute(s) 40 second(s)

## END